{% extends 'base.html.twig' %}

{% block title %}Reservations{% endblock %}

{% block body %}
    <h1>Reservations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Yacht</th>
                <th>From - To</th>
                <th>Price</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.yacht }}</td>
                <td><b>{{ reservation.startTime | date("Y-m-d") }}</b> - <b>{{ reservation.endTime | date("Y-m-d") }}</b>, {{ reservation.days }} days</td>
                <td>
                    <u title="{{ reservation.yacht.pricePerDay }} € x {{ reservation.days }} days">{{ reservation.totalPrice }} €</u>
                </td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a class="btn btn-danger" href="{{ path('reservation_edit', {'id': reservation.id}) }}">Edit</a>
                        <a class="btn btn-danger"
                           href="{{ path('reservation_delete', {'id': reservation.id}) }}">Delete</a>

                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-dark" href="{{ path('yacht_index') }}">Find a yacht to book</a>
{% endblock %}
