{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <h1>Reservation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Yacht</th>
                <td>{{ reservation.yacht}}</td>
            </tr>
            <tr>
                <th>StartTime</th>
                <td>{{ reservation.startTime ? reservation.startTime|date('d.m.Y') : '' }}</td>
            </tr>
            <tr>
                <th>EndTime</th>
                <td>{{ reservation.endTime ? reservation.endTime|date('d.m.Y') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-dark" href="{{ path('reservation_index') }}">Back</a>

    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
